body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem 2rem;
  color: #ffdd57;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-section {
  margin: 2rem 0;
}
/* Untuk pengaturan Label menu*/
.menu-section h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 0.5rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.menu-item {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.menu-item p {
  font-size: 1rem;
  color: #ffdd57;
}

